<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{css/regist.css}" />
</head>
<body>
<div class="container">
    <span sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign out"/>
        </form>
    </span>
    <form th:action="@{/login}" method="post" class="auth-form">
        <h2>Авторизация</h2>
        <input type="email"  name="username"  placeholder="Email" />
        <input type="password"  name="password" placeholder="Пароль" />
        <input type="submit" value="Войти">
        <p>Нет аккаунта? Зарегистрироваться:</p>
        <p><a href="/regBuyer">Физическое лицо</a></p>
        <p><a href="/regSeller">Юридическое лицо</a></p>
    </form>
</div>
</body>
</html>

