<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{css/regist.css}" />
</head>
<body>
<div class="container">
    <form th:action="@{/regSeller}" method="post"  class="auth-form">
        <h2>Регистрация</h2>
        <input type="text" name="name" placeholder="Имя" />
        <input type="email"  name="email" placeholder="Email" />
        <input type="text" name="phoneNumber" placeholder="Телефон" />
        <input type="password" name="password" placeholder="Пароль" />
        <input type="submit" value="Зарегистрироваться">
        <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
        <div th:if="${message}" class="login__message">
            <span th:text="${message}" class="login-message"/>
            <a href="/login" class="login-message-link">log in</a>
        </div>
    </form>
</div>
</body>
</html>