
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #c1587f;
    }

#main{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#box1{
    width: 530px;
    height: 625px;
    background: url(./images/2.png);
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s forwards, anim2 3s forwards 3s;
}

#box1::after{
    content: '';
    position: absolute;
    width: 530px;
    height: 625px;
    background-image: url(./images/1.png);
    left: 0px;
    z-index: -1;
}

@keyframes anim{
    from{
        bottom: -100%;
    }
    to{
        bottom: 0%;
    }
}

@keyframes anim2{
    from{
        left: 30%;
        width: 530px;
    }
    to{
        width: 0px;
        left: 50%;
    }
}

#box2{
    width: auto;
    height: auto;
    color: #fff;
    font-size: 8em;
    font-weight: 500;
    position: absolute;
    top: 250px;
    left: 100px;
    overflow: hidden;
}

#text h1{
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s;
}
.description{
    width: 40%;
    font-size: 50px;
    font-weight: 700;
    color: #000;
    line-height: 70px;
}

@keyframes anim3{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

#box3{
    overflow: hidden;
}

#container{
    width: 93%;
    margin: 0 auto;
    position: absolute;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    align-items: center;
}

#logo{
    float: left;
    margin-left: 100px;
    margin-top: 20px;

}
.header h1{
    color: #000!important;
}



#logo h1:hover{
    scale: 110%;
}

#menu{
   width: 45%;
}

#menu ul{
    /* width: 50%; */
    list-style: none;
}


#menu ul li:hover{
    scale: 120%;
}

@keyframes anim4{
    from{
        top:  -100%;
    }
    to{
        top:  0%;
    }

}

.div{
    margin-top: 70%;
    /* width: 60%; */
    padding: 0 20% 10% 20%;
}

.desc{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}