body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.admin-container {
  text-align: center;
  padding: 50px;
  width: 500px;
  margin-top: 50px;
  margin-left: 500px;
  animation: glowingBorder 5s infinite alternate;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 100px rgb(0, 162, 255); /* Начальный цвет */
  }
  50% {
    box-shadow: 0 0 200px rgb(255, 0, 128); /* Средний цвет */
  }
  100% {
    box-shadow: 0 0 100px rgb(183, 0, 255); /* Конечный цвет */
  }
}

.admin-container h1 {
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-container button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff69b4;
  color: #fff;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0f4488;
}

.table-container {
/*  max-width: 800px;*/
  margin: 50px auto;

  padding: 20px;
/*  animation: glowingBorder 5s infinite alternate;*/
  border-radius: 10px;
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 100px rgb(0, 162, 255); /* Начальный цвет */
  }
  50% {
    box-shadow: 0 0 200px rgb(255, 0, 128); /* Средний цвет */
  }
  100% {
    box-shadow: 0 0 100px rgb(183, 0, 255); /* Конечный цвет */
  }
}

.table-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f3f3f3;
}

table button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ff69b4;
  color: #fff;
  transition: background-color 0.3s;
}

table button:hover {
  background-color: #ff2ecb;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-container input,
.filter-container select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 20%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f3f3f3;
}

table button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ff69b4;
  color: #fff;
  transition: background-color 0.3s;
}

table button:hover {
  background-color: #ff2ecb;
}

@media screen and (max-width: 767px) {
  .admin-container,
  .table-container {
    width: 90%;
    padding: 20px;
    margin: 50px auto;
  }

  .button-container,
  .filter-container {
    flex-direction: column;
    gap: 10px;
  }

  .button-container button {
    width: 100%;
  }

  .filter-container input,
  .filter-container select {
    width: 100%;
  }

  table th,
  table td {
    font-size: 12px;
  }

  table button {
    padding: 3px 6px;
    font-size: 12px;
  }
}

/* Средние экраны (768px - 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .admin-container,
  .table-container {
    width: 70%;
  }
}

/* Большие экраны (992px - 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .admin-container,
  .table-container {
    width: 60%;
  }
}

/* Очень большие экраны (1200px - 1439px) */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .admin-container,
  .table-container {
    width: 50%;
  }
}

/* Гигантские экраны (больше 1440px) */
@media screen and (min-width: 1440px) {
  .admin-container,
  .table-container {
    width: 40%;
  }
}
