body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  animation: glowingBorder 5s infinite alternate;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes glowingBorder {
  0% {
    box-shadow: 0 0 50px rgb(0, 162, 255); /* Начальный цвет */
  }
  50% {
    box-shadow: 0 0 70px rgb(255, 0, 128); /* Средний цвет */
  }
  100% {
    box-shadow: 0 0 50px rgb(183, 0, 255); /* Конечный цвет */
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-form {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff69b4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #ff2ecb;
}
