@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------------------------ */

.header {
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
}
.logo {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.nav {
  width: 40%;
}
.nav_list li a {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}

.nav_list__btn {
  width: 149px;
  height: 50px;
  color: #ffffff;
  display: flex;
  text-align: center;
  background-color: #f74d4d;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 700;
}
.first_block {
  background: radial-gradient(
    46.76% 77.76% at 0% 0%,
    #f74d4d 0%,
    rgba(191, 9, 255, 0) 100%
  );
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* ------------------------------------------------ */
.welcome_block {
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.welcome_block__left h2 {
  font-family: Open Sans;
  font-size: 70px;
  font-weight: 800;
  color: #150f37;
}
.welcome_block__left h2 span {
  color: #e22675;
  display: block;
  margin-bottom: 20px;
}
.welcome_block__left {
  width: 35%;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  color: #150f37;
}
.start_btn {
  width: 293px;
  height: 70px;
  display: flex;
  text-align: center;
  background-color: #e33a88;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  box-shadow: 0px 4px 41px 0px #700aa066;
  margin-top: 35px;
}
/* ------------------------------------------------ */
.welcome_block__right_img {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* width: 860px;
  height: 517px; */
}
.welcome_block__right_phone {
  position: relative;
  left: 48%;
  top: 300px;
}
.kristal {
  position: relative;
  left: 46%;
  bottom: 403px;
}

/* ------------------------------------------------ */
.pay_product {
  margin-top: 15%;
  padding-right: 10%;
}
.pay_product__left .visa {
  width: 245px;
  height: 397px;
}
.pay_product__left_div .risk {
  width: 397px;
  height: 213px;
}
.pay_product__left_div .pay {
  width: 397px;
  height: 194px;
}
.pay_product__right h6 {
  font-family: Open Sans;
  font-size: 31px;
  font-weight: 700;
  color: #161c2d;
}
.pay_product__right p {
  margin-top: 20px;
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 400;
  color: #161c2d;
  line-height: 35px;
}
/* ------------------------------------------------ */
.api {
  width: 90%;
  margin: 0 auto;
}
.api_left {
  width: 500px;
}
.api_left h3 {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 800;
  color: #161c2d;
}

.api_left h6 {
  font-family: Open Sans;
  font-size: 21px;
  font-weight: 700;
  color: #161c2d;
  display: block;
  margin: 24px 0 10px 0;
}
.api_left p {
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 400;
  color: #161c2d;
  line-height: 29px;
}
.api_right {
  color: #abb2bf;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.code-container {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

pre {
  margin: 0;
}

code {
  font-size: 14px;
  line-height: 1.5;
}

.orange {
  color: rgba(255, 172, 96, 1);
}
.green {
  color: rgba(26, 198, 156, 1);
}
.blue {
  color: rgba(63, 164, 255, 1);
}
.pink {
  color: rgba(255, 50, 198, 1);
}
.purple {
  color: rgba(196, 120, 255, 1);
}

@media (max-width: 1200px) {
  .nav {
    width: 70%;
  }

  .welcome_block {
    flex-direction: column;
    padding-left: 0;
    text-align: center;
  }

  .welcome_block__left {
    width: 100%;
    padding: 20px;
  }
  .btn {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .pay_product {
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }

  .pay_product__left,
  .pay_product__right {
    width: 100%;
  }

  .api {
    flex-direction: column;
  }
.code-container{
  margin-top: 3%;
}
  .api_left,
  .api_right {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .welcome_block__left h2 {
    font-size: 50px;
  }

  .pay_product__right h6 {
    font-size: 25px;
  }

  .pay_product__right p {
    font-size: 16px;
    display: block;
    margin: 17px 0;
  }

  .api_left h3 {
    font-size: 35px;
  }

  .api_left h6 {
    font-size: 18px;
  }

  .api_left p {
    font-size: 15px;
  }
  .welcome_block__right_img {
    display: none;
  }
  .welcome_block {
    flex-direction: column;
  }
  .welcome_block__right_phone,
  .kristal {
    display: none;
  }

  .visa,
  .risk,
  .pay {
    display: none;
  }
  .posterminal {
    width: 200px;
    height: 270px;
  }
  .code-container {
    width: 100%;
    margin-top: 3%;
  }
  code {
    font-size: 10px;
    line-height: 1.5;
  }
}

@media (max-width: 576px) {
  .header{
    flex-direction: column;
  }
  .nav_list{
    flex-direction: column;
  }
  .welcome_block__left h2 {
    font-size: 40px;
  }

  .start_btn {
    width: 100%;
    height: 50px;
  }

  .pay_product__right h6 {
    font-size: 20px;
  }

  .pay_product__right p {
    font-size: 14px;
    display: block;
    margin: 17px 0;
  }

  .api_left h3 {
    font-size: 28px;
  }

  .api_left h6 {
    font-size: 16px;
  }

  .api_left p {
    font-size: 13px;
  }
  .welcome_block__right_img {
    display: none;
  }
  .welcome_block {
    flex-direction: column;
  }
  .welcome_block__right_phone,
  .kristal {
    display: none;
  }

  .visa,
  .risk,
  .pay {
    display: none;
  }
  .posterminal {
    width: 200px;
    height: 500px;
  }
  .code-container {
    width: 100%;
    margin-top: 3%;
  }
  code {
    font-size: 10px;
    line-height: 1.5;
  }
}
