<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Админ Панель</title>
    <link rel="stylesheet" th:href="@{css/styleH.css}" />
    <link rel="stylesheet" th:href="@{css/admin.css}" />
    <link rel="stylesheet" th:href="@{css/golub.css}" />
  </head>
  <body>
  <header class="header d-flex">
    <h1 class="logo">1984</h1>
    <div class="nav">
      <ul class="nav_list d-flex">
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li th:if="${currentUser != null}">
          <a th:href="'/user/' + ${currentUser.id}">Личный кабинет</a>
        </li>
        <li th:if="${currentBuyer != null}">
          <a th:href="'/buyer/' + ${currentBuyer.id}">Покупатель</a>
        </li>
        <span sec:authorize="!isAuthenticated()">
            <li class="header__list-item_log">
                <a href="/login" class="nav_list__btn">Войти</a>
            </li>
          </span>
        <span sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input class="nav_list__btn" type="submit" value="Выйти"/>
            </form>
          </span>
      </ul>
    </div>
  </header>

    <div class="admin-container">
      <h1>Админ Панель</h1>
      <div class="button-container">
        <button onclick="location.href='/admin/clients'">Клиенты</button>
        <button onclick="location.href='/admin/transactions'">Транзакции</button>
      </div>
    </div>

    <div class="birds">
      <div class="birds__hatdove">
        <div class="birds__hatdove-shadow"></div>
        <div class="birds__hatdove-head">
          <div class="birds__hatdove-hat"></div>
          <div class="birds__hatdove-forehead"></div>
          <div class="birds__hatdove-eye"></div>
          <div class="birds__hatdove-eye"></div>
          <div class="birds__hatdove-beak"></div>
        </div>
        <div class="birds__hatdove-backwing"></div>
        <div class="birds__circles-1"></div>
        <div class="birds__hatdove-backleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__hatdove-body"></div>
        <div class="birds__hatdove-frontleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__hatdove-frontwing"></div>
        <div class="birds__circles-2"></div>
        <div class="birds__hatdove-frontwing-finger"></div>
        <div class="birds__hatdove-frontwing-finger"></div>
        <div class="birds__hatdove-frontwing-finger"></div>
      </div>
      <div class="birds__table">
        <div class="birds__table-shadow"></div>
      </div>
      <div class="birds__laptop"></div>
      <div class="birds__laptop">
        <div class="birds__monitor">
          <div class="birds__code"></div>
        </div>
      </div>
      <div class="birds__coffee"></div>
      <div class="birds__feather"></div>
      <div class="birds__feather"></div>
      <div class="birds__rundove-shadow"></div>
      <div class="birds__rundove">
        <div class="birds__rundove-backwing">
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__circles"></div>
        </div>
        <div class="birds__rundove-head">
          <div class="birds__rundove-eye"></div>
          <div class="birds__rundove-eye"></div>
          <div class="birds__rundove-beak"></div>
        </div>
        <div class="birds__rundove-backleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__rundove-body"></div>
        <div class="birds__rundove-frontleg">
          <div class="birds__curly"></div>
        </div>
        <div class="birds__rundove-frontwing">
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__finger"></div>
          <div class="birds__circles"></div>
        </div>
      </div>
    </div>
  </body>
</html>
