<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Клиенты</title>
    <link rel="stylesheet" th:href="@{css/admin.css}" />
    <link rel="stylesheet" th:href="@{css/style.css}" />
  </head>
  <body>
  <header class="header d-flex">
    <h1 class="logo">1984</h1>
    <div class="nav">
      <ul class="nav_list d-flex">
        <li><a href="/">Главная</a></li>
        <li><a href="">О нас</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li  sec:authorize="hasAuthority('ROLE_ADMIN')">
          <a href="/admin">Aдмин-панель</a>
        </li>
        <a class="nav_list__btn" href="/login">Войти</a>
      </ul>
    </div>
  </header>
    <div class="table-container">
      <h2>Клиенты</h2>
      <p>Физические лица</p>
      <table>
        <thead>
          <tr>
            <th>Имя клиента</th>
            <th>Email</th>
            <th>Счёт</th>
            <th>Баланс</th>
            <th>API key</th>
            <th>Дата регистрации</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${user}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.account}"></td>
            <td th:text="${user.balance}"></td>
            <td th:text="${user.apiKey}"></td>
            <td th:text="${user.dateOfCreated}"></td>
          </tr>
          <tr th:each="buyer : ${buyer}">
            <td th:text="${buyer.name}"></td>
            <td th:text="${buyer.email}"></td>
            <td th:text="${buyer.account}"></td>
            <td th:text="${buyer.balance}"></td>
            <td th:text="${buyer.apiKey}"></td>
            <td th:text="${buyer.dateOfCreated}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
