<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Как это работает?</title>
    <link rel="stylesheet" th:href="@{css/styleH.css}" />
    <link rel="stylesheet" th:href="@{css/main.css}" />
  </head>
  <body>
  <header class="header d-flex">
    <h1 class="logo">1984</h1>
    <div class="nav">
      <ul class="nav_list d-flex">
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li th:if="${currentUser != null}">
          <a th:href="'/user/' + ${currentUser.id}">Личный кабинет</a>
        </li>
        <li th:if="${currentBuyer != null}">
          <a th:href="'/buyer/' + ${currentBuyer.id}">Покупатель</a>
        </li>
        <span sec:authorize="!isAuthenticated()">
            <li class="header__list-item_log">
                <a href="/login" class="nav_list__btn">Войти</a>
            </li>
          </span>
        <span sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input class="nav_list__btn" type="submit" value="Выйти"/>
            </form>
          </span>
      </ul>
    </div>
  </header>

    <!--          <div>-->
    <!--            <p th:text="'Current User: ' + ${currentUser}">Current User: [currentUser]</p>-->
    <!--            <p th:text="'Current Buyer: ' + ${currentBuyer}">Current Buyer: [currentBuyer]</p>-->
    <!--          </div>-->
    <!--          <li sec:authorize="hasAuthority('ROLE_USER')" th:if="${currentUser != null}">-->
    <!--            <a th:href="'/user/' + ${currentUser.id}">Профиль - продавец</a>-->
    <!--          </li>-->
    <!--          <li sec:authorize="!hasAuthority('ROLE_USER')"  th:if="${currentBuyer != null}">-->
    <!--            <a th:href="'/buyer/' + ${currentBuyer.id}">Профиль - покупатель</a>-->
    <!--          </li>-->

      <div class="welcome_block">
        <div class="welcome_block__left">
          <h2>
            Легкие <br />
            и безопасные <br />
            <span>онлайн-платежи</span>
          </h2>
          <p>
            Миллионы компаний всех размеров используют Наш сервис онлайн и лично
            для приема платежей, отправки выплат, автоматизации финансовых
            процессов и увеличения доходов.
          </p>
          <a class="start_btn" href="">Начать сейчас</a>
        </div>
        <div class="welcome_block__right">
          <img
            class="welcome_block__right_img"
            src="./images/welcom-right.svg"
            alt=""
          />
          <img
            class="welcome_block__right_phone"
            th:src="@{/images/welcome_phone.svg}"
            alt=""
          />
          <img class="kristal" src="./images/kristal.svg" alt="" />
        </div>
      </div>
      <div class="pay_product d-flex">
        <div class="pay_product__left d-flex">
          <img class="visa" src="./images/visa.png" alt="" />
          <img src="./images/posterminal.svg" alt="" />
          <div class="pay_product__left_div">
            <img class="risk" src="./images/risk.png" alt="" />
            <img class="pay" src="./images/pay.png" alt="" />
          </div>
        </div>
        <div class="pay_product__right">
          <h6>Полностью интегрированный набор платежных продуктов</h6>
          <p>
            Мы объединяем все, что требуется для создания веб-сайтов и приложений,
            которые принимают платежи и отправляют выплаты по всему миру. Продукты
            Stripe позволяют осуществлять платежи онлайн и лично розничным
            продавцам, компаниям, занимающимся подпиской, программным платформам и
            маркетплейсам, а также всему, что находится между ними.
          </p>
        </div>
      </div>
      <div class="api d-flex">
        <div class="api_left">
          <h3>Самые мощные и простые в использовании API в мире</h3>
          <h6>Инструменты для каждого стека</h6>
          <p>
            Мы предлагаем клиентские и серверные библиотеки на всех языках - от
            React и PHP до .NET и iOS.
          </p>
          <h6>Готовые интеграции</h6>
          <p>
            Используйте интеграцию с такими системами, как Shopify, WooCommerce,
            NetSuite и другими.
          </p>
        </div>
        <div class="api_right">
          <div class="code-container">
            <pre>
                      <code class="language-js">
          console.log("oO08 iT1Ll g9qCGQ ~-+=&gt;");
                      
          function updateGutters(cm) {
              var gutters = cm.display.gutters,
                  __specs = cm.options.gutters;
          
              removeChildren(gutters);
          
              for (var i = 0; i &lt; __specs.length; ++i) {
                  var gutterClass = __specs[i];
                  var gElt = gutters.appendChild(
                      elt(
                          "div",
                          null,
                          "CodeMirror-gutter " + gutterClass
                      )
                  );
                  if (gutterClass == "CodeMirror-linenumbers") {
                      cm.display.lineGutter = gElt;
                      gElt.style.width = (cm.display.lineNumWidth || 1) + "px";
                  }
              }
              gutters.style.display = i ? "" : "none";
              updateGutterSpace(cm);
          
              return false;
          }
                      </code>
                  </pre>
          </div>
        </div>
      </div>






    <section class="how-it-works">
      <div class="main">
        <h2>Как это работает?</h2>
        <p style="padding-left: 64px; padding-right: 58px">
          С нашей интуитивно понятной системой вы можете легко интегрировать
          онлайн-платежи на ваш сайт всего в три простых шага.
        </p>
      </div>

      <div class="steps">
        <div class="step">
          <div class="step-number">1</div>
          <div class="dashed-line"></div>
          <h3>Зарегистрируйтесь</h3>
          <p>Пройдите быструю и простую регистрацию на нашей платформе.</p>
        </div>
        <div class="step">
          <div class="step-number">2</div>
          <div class="dashed-line2"></div>
          <h3>Настройте параметры</h3>
          <p>Настройте платежные параметры в соответствии с потребностями.</p>
        </div>
        <div class="step">
          <div class="step-number">3</div>
          <h3>Начните пользоваться!</h3>
          <p style="padding: 10px">
            Запустите ваш сайт и начните принимать платежи от клиентов.
          </p>
        </div>
      </div>
    </section>

    <div class="img_bg">
      <div class="content">
        <div class="video">
          <div class="video-block">
            <img src="images/BG.png" alt="Video Thumbnail" />
            <div class="video-icon">&#9658;</div>
          </div>
        </div>

        <section class="testimonials">
          <h1>
            +1,749 команд поделились своим опытом использования нашего сервиса!
          </h1>
          <div class="testimonial">
            <img src="images/ovall.png" alt="Алексей Смирнов" />
            <div class="testimonial-text">
              <p>
                “Невероятно! Не могу поверить, что настройка нашего
                интернет-магазина заняла всего несколько минут. Все было просто
                и понятно.”
              </p>
              <h3>Алексей Смирнов</h3>
            </div>
          </div>
          <div class="testimonial" style="opacity: 0.7">
            <img src="images/Oval.png" alt="Михаил Иванов" />
            <div class="testimonial-text">
              <p>
                “Это лучший сервис для приема онлайн-платежей. Подходит как для
                начинающих, так и для опытных пользователей, стремящихся к
                успеху.”
              </p>
              <h3>Михаил Иванов</h3>
            </div>
          </div>
          <div class="testimonial" style="opacity: 0.5">
            <img src="images/ovalll.png" alt="Пользователь 3" />
            <div class="testimonial-text">
              <p>
                “Обязательный инструмент для любого бизнеса, который хочет
                принимать платежи онлайн быстро и безопасно.”
              </p>
              <h3>Ирина Смирнова</h3>
            </div>
          </div>
          <a href="#" class="rewiew">Все отзывы &#8594;</a>
        </section>
      </div>
      <!-- <img src="images/back test.png" alt="none" /> -->
    </div>


        <footer >
            <div class="footer-text" >© 2020 Copyright, All Right Reserved, Made by 1984 with ❤️</div>
            <div class="footer-icons">
                <a href="https://twitter.com"><img src="images/logo-twitter.svg" alt="Twitter" class="footer-icon"></a>
                <a href="https://www.linkedin.com"><img src="images/logo-facebook.svg" alt="LinkedIn" class="footer-icon"></a>
                <a href="https://www.facebook.com"><img src="images/logo-instagram.svg" alt="Facebook" class="footer-icon"></a>
                <a href="https://www.instagram.com"><img src="images/logo-linkedin.svg" alt="Instagram" class="footer-icon"></a>
            </div>
            
        </footer>


    </div>

  </body>
</html>
