<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
</head>
<body>
<main class="main">
            <nav class="header__wrap">
                <span sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" class="header__form">
                        <input type="submit" value="Sign out" class="header__form-btn"/>
                    </form>
                </span>
                <span sec:authorize="!isAuthenticated()">
                    <ul  class="header__list">
                        <li class="header__list-item_log">
                            <a href="/login" class="list-item header__form">Log in</a>
                        </li>
                        <li class="header__list-item_log">
                            <a href="/registration" class="list-item header__form">Sign up</a>
                        </li>
                    </ul>
                </span>
            </nav>
            <form th:action="@{/login}" method="post" class="login__actual-form">
                <input type="email" name="username" placeholder="Email" class="form-item">
                <input type="password" name="password" placeholder="Password" class="form-item">
                <!--
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">-->
                <input type="submit"  class="form-btn" value="Enter">
            </form>
</main>

</body>
</html>

