<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;600&family=Oswald&display=swap');
    </style>
    <link rel="stylesheet" th:href="@{/css/base12.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<main class="main">
    <div class="login__wrapper">
        <div class="login__form">
            <img th:src="@{/img/svg/LOGO.svg}" alt="" class="login-logo">
            <div class="login__sign-in-up">
                <a href="/login" class="sign">Log in</a>
                <a href="/registration" class="sign sign-border">Sign up</a>
            </div>
            <h2 class="login-title">Start your journey in Kyrgyzstan!</h2>
            <form th:action="@{/registration}" method="post" class="login__actual-form">
                <input type="text" name="name" placeholder="Username" class="form-item">
                <input type="email" name="email" placeholder="Email" class="form-item">
                <input type="text" name="phoneNumber" placeholder="Phone number" class="form-item">
                <input type="password" name="password" placeholder="Password" class="form-item">

                <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}">
                -->
                <div th:if="${message}" class="login__message">
                    <span th:text="${message}" class="login-message"/>
                    <a href="/login" class="login-message-link">log in</a>
                </div>
                <input type="submit"  class="form-btn" value="Register">
            </form>
        </div>
        <div class="login__pic">
            <img th:src="@{/img/backgroundLOGIN.png}" alt="" class="pic__right">
        </div>
    </div>
</main>
</body>
</html>
