<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="css/regist.css" />
  </head>
  <body>
    <div class="container">
      <form class="auth-form">
        <h2>Регистрация</h2>
        <input type="text" placeholder="Имя" />
        <input type="email" placeholder="Email" />
        <input type="tel" placeholder="Телефон" />
        <input type="password" placeholder="Пароль" />
        <input type="password" placeholder="Повторите пароль" />
        <div class="select-wrapper">
          <select name="role" id="role">
            <option value="admin">Администратор</option>
            <option value="legal-entity">Юридическое лицо</option>
            <option value="client">Клиент</option>
          </select>
        </div>
        <button type="submit">Зарегистрироваться</button>
        <p>Уже есть аккаунт? <a th:href="/login">Войти</a></p>
      </form>
    </div>
  </body>
</html>
