<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Транзакции</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
  <header class="header d-flex">
    <h1 class="logo">1984</h1>
    <div class="nav">
      <ul class="nav_list d-flex">
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li th:if="${currentUser != null}">
          <a th:href="'/user/' + ${currentUser.id}">Личный кабинет</a>
        </li>
        <li th:if="${currentBuyer != null}">
          <a th:href="'/buyer/' + ${currentBuyer.id}">Покупатель</a>
        </li>
        <span sec:authorize="!isAuthenticated()">
            <li class="header__list-item_log">
                <a href="/login" class="nav_list__btn">Войти</a>
            </li>
          </span>
        <span sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input class="nav_list__btn" type="submit" value="Выйти"/>
            </form>
          </span>
      </ul>
    </div>
  </header>

    <div class="table-container">
      <h2>Транзакции</h2>
      <div class="filter-container">
        <input type="text" id="companyFilter" placeholder="имя компании" />
        <input type="text" id="personFilter" placeholder="имя физ лица" />
        <select id="statusFilter">
          <option value="">Все статусы</option>
          <option value="Завершено">Завершено</option>
          <option value="в процессе">в процессе</option>
          <option value="провалено">провалено</option>
        </select>
        <input type="date" id="dateFilter" />
      </div>
      <table id="transactionsTable">
        <thead>
          <tr>
            <th>Имя компании</th>
            <th>Сумма</th>
            <th>Статус</th>
            <th>Имя физ лица</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Компания 1</td>
            <td>1000</td>
            <td>Завершено</td>
            <td>Физ лицо 1</td>
            <td>2024-01-01</td>
          </tr>
          <tr>
            <td>Компания 2</td>
            <td>500</td>
            <td>в процессе</td>
            <td>Физ лицо 2</td>
            <td>2024-01-01</td>
          </tr>
          <tr>
            <td>Компания 3</td>
            <td>800</td>
            <td>провалено</td>
            <td>Физ лицо 3</td>
            <td>2024-01-01</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="js/filter.js"></script>
  </body>
</html>
